<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">categories</span>
    <input type="text" ng-model="movie['categories']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">stars</span>
    <input type="text" ng-model="movie['stars']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="movie['name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">year_release</span>
    <input type="text" ng-model="movie['year_release']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">rated</span>
    <input type="text" ng-model="movie['rated']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">runtime</span>
    <input type="text" ng-model="movie['runtime']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">location</span>
    <input type="text" ng-model="movie['location']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">file_name</span>
    <input type="text" ng-model="movie['file_name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">file_size</span>
    <input type="text" ng-model="movie['file_size']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">remarks</span>
    <input type="text" ng-model="movie['remarks']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">rate</span>
    <input type="text" ng-model="movie['rate']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
